.centralizador{
    text-align: center;
    border: 10px solid black;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(167, 96, 96, 72);
}
.segConteiner{
    margin: center;
    border: 10px solid green;
    background-color: rgb(84, 129, 84);
}

h1{
    background-color: white;
}


/*
id 
#xxx{
}
-tem o maior peso q classe -

classe
.xxxx{
}
- tem um peso maior que o elemento -

elementos
xxxx{
}
*/
p{
    display:inline;
}

















